body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* Header styles */
header>h3 {
    font-size: 24px;
    font-weight: 700;
    /* margin-bottom: 145.8px; */
}

header h3 {
    padding-left: 8%;
}


/* Influencer and camera styles */
.sec-one {
    display: flex;
    position: absolute;
    left: 120px;
    top: 100px;
}

a {
    text-decoration: none;
    background-color: #E02C6D;
    border: 1px solid #E02C6D;
    border-radius: 41px;
    color: white;
    /* padding: 13px; */
    Padding: 10px 24px;
    font-weight: 700;
    /* margin-top: 16.1px; */
}


.influencer h1 {
    font-weight: 700;
    font-size: 52px;
}

.influencer p {
    margin-bottom: 50px;
}