/* ------------------
    Common Styles
   ------------------ */
body {
    font-family: 'Poppins', sans-serif;
    /* position: relative; */
}

/* Header styles */
.header-class {
    display: flex;
    justify-content: space-between;
}

.header-class,
.navbar {
    align-items: center;
}

header h3 {
    font-size: 24px;
    font-weight: 700;
    padding-left: 8%;
}

/* header h3 {
    padding-left: 8%;
} */


.navbar li {
    list-style: none;
    float: left;
    margin-left: 30px;
    padding-right: 40px;
    font-weight: 700;
}


/* -------------------------
Influencer and camera styles
----------------------------- */
.sec-one {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
    /* position: absolute;
    left: 120px;
    top: 100px; */
}

a {
    text-decoration: none;
    background-color: #E02C6D;
    border: 1px solid #E02C6D;
    border-radius: 41px;
    color: white;
    /* padding: 13px; */
    Padding: 10px 24px;
    font-weight: 700;
    font-size: 12px;
    /* margin-top: 16.1px; */

}



.influencer {
    width: 50%;
    margin: 90px;

}


.influencer h1 {
    font-weight: 700;
    /* font-size: 52px; */
}

.influencer p {
    margin-bottom: 50px;
    font-weight: 200;
}

/* .camera {
    margin-bottom: 60px;
} */

/* --------------------------
    Popular Collection Styles
----------------------------- */
.sec-two {
    margin-top: 20px;

}





.sec-two h3 {
    padding-left: 700px;
    font-size: 1.5em;
    font-weight: 700;
    color: black;
    /* position: absolute;
    left: 150px;
    top: 200px; */
    padding-left: 600px;
    margin-top: 120px;

}

/* .container {
    position: absolute; 
    width: 1047px;
    height: 1662px; 
    left: 120px;
    top: 150px; 

} */

.gears-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    margin: 120px;
}

.gear .gear-img img {
    width: 300px;
    height: 256px;
}

.gear-name h4 {
    font-size: 23px;
}

.gear-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.gear-rating span {
    padding-left: 15px;
}

.fa-star {
    font-size: 10px;
}

.fa-star.filled {
    color: goldenrod;
    width: 16px;
    height: 16px;
}

.button {
    /* position: absolute; */
    width: 99px;
    height: 24px;
    /* left: 900px;
    top: 1700px; */
    color: #E02C6D;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 400px;
    /* margin-left: 0px; */
    /* align-items: flex-end;
    justify-content: right; */

}




/* ------------------------
    Feature Products Styles
--------------------------- */
.sec-three {
    position: absolute;

    left: 165px;
    top: 2697px;
    width: 1110px;
    height: 270px;

}

.feature-products {
    display: flex;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px; */

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 85%;
}

.feature-details h3 {
    width: 610px;
    height: 60px;
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;

}

.feature-details p {
    margin-bottom: 30px;
}

/*------------------
    Footer Styles
-------------------- */
footer {
    /* position: absolute; */
    width: 1500px;
    height: 239px;
    margin-top: 200px;
    /* left: 589px;
    top: 3117px; */
    background: rgb(5, 5, 41);
    color: rgb(184, 174, 174);
    /* color: whitesmoke; */
}

.footer-content {
    text-align: center;
    padding: 15px;

}

.footer-influencer {
    font-weight: bold;
    font-size: 1.2em;
}

.icons {
    margin-right: 10px;
}

/* .influencer {
    Width: 243px;
    Height: 36px;
    font-weight: 700;
    font-size: 24px;
}

.lower-footer {
    padding-left: 70px;
    font-weight: 700;
} */